<!DOCTYPE html>
<html>
<head>
    <title>Waste Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <div class="header">
        <h2>Waste Management System</h2>
        <p>Smart & Secure Waste Record Management</p>
    </div>

    <div class="content">

        <a href="/logout" class="button">Logout</a>

        {% if session.get('role') == 'admin' %}
            <a href="/admin" class="button">Admin Dashboard</a>
        {% endif %}

        <a href="{{ url_for('add') }}" class="button">➕ Add Waste</a>
        <form method="get" style="margin:20px 0;">
            <label><b>Sort By:</b></label>
            <select name="sort">
                <option value="">-- Select --</option>
                <option value="date_new">Date (Latest First)</option>
                <option value="date_old">Date (Oldest First)</option>
                <option value="area">Area (Location)</option>
                <option value="waste_type">Waste Type</option>
                <option value="quantity">Quantity (High to Low)</option>
            </select>
            <button type="submit">Apply</button>
        </form>

        <table>
            <tr>
                <th>ID</th>
                <th>Area</th>
                <th>Waste Type</th>
                <th>Quantity (kg)</th>
                <th>Date</th>
                <th>Action</th>
            </tr>

            {% for waste in wastes %}
            <tr>
                <td>{{ waste.id }}</td>
                <td>{{ waste.area }}</td>
                <td>{{ waste.waste_type }}</td>
                <td>{{ waste.quantity }}</td>
                <td>{{ waste.date.split('-')[2] }}-{{ waste.date.split('-')[1] }}-{{ waste.date.split('-')[0] }}</td>
                <td>
                    <a href="{{ url_for('edit', id=waste.id) }}">Edit</a> |
                    <a href="{{ url_for('delete', id=waste.id) }}"
                       onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>

</div>

</body>
</html>